:root {
	--primary-font: 'Poppins', sans-serif;

	// Primary color
	// TBD......

	// Secondary color
	// TBD......

	// Accent color
	// TBD......

	// Mono
	--white: #ffffff;
	--black: #111111;
	--mono100: #ffffff;
	--mono200: #f5f5f5;
	--mono300: #ededed;
	--mono400: #e3e3e3;
	--mono500: #c3c3c3;
	--mono600: #a1a1a1;
	--mono700: #8a8a8a;
	--mono800: #6e6e6e;
	--mono900: #545454;
	--mono1000: #333333;
	--transparent: rgba(#111111, 0%);
}
